* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

table{
    border-collapse: collapse;
}

#game_board>.header{
    background-color: lightslategrey;
    font-weight: 700;
}

#game_board>tr>td{
    padding: 1em;
    text-align: center;
    min-width: 100px;
    border: 1px solid black;
}